.navbar-default .navbar-brand {
    color: #5BB12F;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #5BB12F;
}

.navbar-default .navbar-toggle {
    border-color: #5BB12F;
    background-color: #5BB12F;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #5BB12F;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #5BB12F;
}

.navbar-default .navbar-nav>.active>a {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 5px solid #5BB12F;
    border-radius: 0px;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 5px solid #5BB12F;
}

