
@media (min-width: 768px) {

	.display-md-width {
		width: 100%!important;
	}
	
	.mobile-marginBot10 {
		margin-bottom:10px!important;
	}
	
}

@media (max-width: 768px) {

	.display-md-inherit {
		display: inherit!important;
	}
	
	.display-md-none {
		display:none!important;
	}
	
	.mobile-marginTop10 {
		margin-top:10px!important;
	}
	
	.mobile-pull-right-none {
		float:none!important;
	}
	
}


@media (max-width: 500px) {

	.display-xs-inherit {
		display: inherit!important;
	}

	.display-xs-none {
		display:none!important;
	}

	.mobile-xs-width {
		width: 100%!important;
	}
	
	.mobile-pull-left {
		float:left!important;
	}
	
	.mobile-pull-right{
		float:right!important;
	}
	
	.mobile-marginTop10 {
		margin-top:10px!important;
	}
	
	.mobile-marginBot10 {
		margin-bottom:10px!important;
	}
	
	.mobile-text-center {
	  text-align: center!important;
	}

}

